
.Header{
      display: flex;
      align-items: center;
      margin: auto;
      width: 86%;
      justify-content: space-between;
      height: 135px;
      background-color: white;
      border-bottom: 1px solid rgba(0,0,0,.1);
            
            p{    
                  font-weight: 400;
                  font-size: 16px;
                  color:#7b7b7b;
            }            
            .search{
                  margin-left: 15px;
                  margin-right: 25px;
                  background-color: white;
                  display:flex;
                  align-items: center;
                  border: 1px solid rgba(0,0,0,.1);
                  width: 400px;
                  height: 48px;
                  border-radius: 10px;
                        img{
                              margin-left:16px;
                        }
                        input{
                              margin-left:10px;
                              outline:none;
                              border: none; 
                              font-weight: 400;
                              font-size: 16px;
                        }
                        @media (max-width: 700px) {
                             display: none;
                            }
                       
            }
            .shoppingBasket{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 140px;
                  height: 51px;
                  border-radius: 30px;
                  background-color: #FE5F1E;
                  color:white;
                  font-size: 16px;
                  font-weight: 600;
                        .delimetr{   
                              background-color: hsla(0,0%,100%,.25);
                              height: 25px;
                              margin-left: 14px;
                              margin-right: 14px;
                              width: 1px;
                        }
            }

}