.header{
      display: flex;
      align-items: center;
      margin: auto;
      width: 86%;
      justify-content: space-between;
      height: 135px;
      background-color: white;
      border-bottom: 1px solid rgba(0,0,0,.1); 
            .react_header_logo{
                  position: relative;
                  right: 2.9px;
            }           
            p{    
                  font-weight: 400;
                  font-size: 16px;
                  color:#7b7b7b;
            }            
            .shoppingBasket{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 140px;
                  height: 51px;
                  border-radius: 30px;
                  background-color: #FE5F1E;
                  color:white;
                  font-size: 16px;
                  font-weight: 600;
                        .delimetr{   
                              background-color: hsla(0,0%,100%,.25);
                              height: 25px;
                              margin-left: 14px;
                              margin-right: 14px;
                              width: 1px;
                              text-decoration: none;
                        }
            }

}