.burger_menu{
      position: absolute;  
      z-index: 66;
      width: 40%;
      margin-bottom: 25px;
      border-radius: 22px;
            ul{           
                 list-style: none;
                 z-index: 55;
                 background-color: white; 
                  li{            
                        font-size: 27px;
                        height: 39px;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;             
                  }
                  .active{
                        background-color: #FFDF8C;
                        color: white;       
                  } 
                                                  
            }
            @media  (max-width: 405px ) {
                  width: 135px;
                  z-index: 67;
            }
}