.burger_menu{
      position: absolute;
      z-index: 66;
      width: 35%;
      height: 100%;
      
      
            ul{
                  
                 list-style: none;
                 z-index: 55;
                 background-color: white; 
                  li{            
                        font-size: 27px;
                        margin-top: 15px;
                        height: 39px;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer; 
                        border-radius: 5px;              
                  }
                  .active{
                        background-color: orange;
                        color: white;       
                  } 
                                                  
            }
            @media  (max-width: 600px ) {
                  width: 207px;
                  z-index: 67;
            }
}