.burger_menu{
      position: absolute;
      z-index: 66;
      width: 35%;
      height: 100%;
      
      

      
            ul{
                 list-style: none;
                 z-index: 55;
                 background-color: whitesmoke;
                 

                  li{             
                        font-size: 27px;
                        display: flex;
                        margin-top: 15px;
                        height: 39px;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer; 
                        
                          
                  }
                  .active{
                        background-color: orange;
                        color: white;       
                  } 
                                                  
            }
      .empty_block{
           
            
            background-color: aqua;
      }     
            
}