.basket{
      display: flex;
      margin: 0 auto;
      width: 80%;
      background-color: white;
      border-radius: 15px;
      flex-direction: column; 
      z-index: 250; 
            .basket__content{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  margin: 0 auto;
                  width: 86%;
                  background-color: white;
                  h2{
                        text-align: center;
                        font-weight: 700;
                        font-size:36px;
                        margin-top: 121px;
                        margin-bottom: 7px;
                        height: auto;
                  }
                  p{
                        font-size: 20px;
                        font-weight: 400;
                        color:#777777;
                        text-align: center;
                  }
                  img{  
                        height: auto;
                        margin-top: 50px;
                        width: 50%;
                        height: auto;
                              @media  (max-width: 900px ) {
                                    width: 80%;
                                    height: auto;
                              }
                              @media  (max-width: 500px ) {
                                    width: 100%;
                                    height: auto;
                              }
                                    
                              
                  }
                  .basket__comeback-button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 0;
                        padding: 0;
                        width: 230px;
                        height: 50px;
                        background-color: #232323;
                        border-radius: 30px;
                        color: white;
                        font-size: 18px;
                        font-weight: 600;
                        margin-top:60px;
                        margin-bottom: 60px;
                        cursor:pointer;
                  }
                  .basket__comeback-button:active{
                        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
                        transform: translateY(+2px);
                  }
            }
}