 .category_pizza{
      margin-right: auto;
      
 .ul{ 
      display: flex;
      
            li{   
                  display: flex; 
                  justify-content: center;
                  align-items: center;
                  padding-left: 30px;
                  padding-right: 30px;
                  height: 48px; 
                  border-radius: 30px;
                  list-style-type: none;
                  background-color: #F9F9F9;
                  font-weight: 600;
                  margin-left: 10px;
                  cursor: pointer;
            }
            .active{
                  background-color: #282828;
                  color: white;       
            } 
            @media (max-width: 717px){
                 width: 350px; 
                 overflow: scroll;
                 margin: auto;      
            }  
            @media (max-width: 405px){
                  width: 290px; 
                  overflow: scroll;
                  li{
                  padding-left: 15px;
                  padding-right: 15px;
                  height: 40px;
                  margin-left: 5px;
                  }     
             }              
                                                  
}
            
}