.search_block{
      display: flex;
      align-items: center;
      width: 86%;
      margin: auto;
      margin-top: 50px;
      .search{ 
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid rgba(0,0,0,.1);
            width: 300px;
            height: 36px;
            border-radius: 10px;
                  .search_input{
                        display: flex;
                        .lypa{
                              margin-left:16px;
                        }
                        input{          
                              display: flex;
                              width: 120px;
                              margin-left:10px;
                              outline:none;
                              border: none; 
                              font-weight: 400;
                              font-size: 16px;
                        }
                  }   
                  .clear_input{
                        margin-right: 20px;
                        cursor:pointer;
                        opacity: 0.3;
                  }
                  .clear_input:hover{
                        opacity: 0.8;
                  }
            
      }
      @media (max-width: 977px){
            width: 30%;
      }
      @media (max-width: 637px){
            width: 50%;
      }
      @media (max-width: 456px){
            width: 70%;
      }
}

