.main{
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      grid-template-rows: 1fr 1fr; 
      gap: 60px 20px; 
      margin: 0 auto;
      margin-top: 55px;
      background-color: #FFFFFF;
            @media (max-width: 1293px){
                  grid-template-columns: 1fr 1fr 1fr; 
            }
            @media (max-width: 977px){
                  grid-template-columns: 1fr 1fr; 
            }
            @media (max-width: 637px){
                  grid-template-columns: 1fr; 
            }
}

