*{
    margin: 0;
    padding: 0;
    box-sizing: 0; 
    font-family: 'Nunito', sans-serif;
}
  body{
      background-color: #FFDF8C;
      padding-top: 50px;
  }
.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: auto;
        .category{
        margin: 0 auto;
        margin-top: 40px;
        align-items: center;
        justify-content: space-between;
        width: 86%;
        height: 46px;
        display: flex;       
      }
      .search_and_sort{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        margin-top: 40px;
        margin-right: 70px;
        margin-left: 70px;
        }    
        @media (max-width: 939px){
            .search_and_sort{
              justify-content: space-around;
              margin-right: 0px;
              margin-left: 0px;
            }
        } 
        @media (max-width: 400px){
          .search_and_sort{
            margin-right: 0px;
            margin-left: 0px;
          }
      }             
}

    
  
