*{
  margin: 0;
  padding: 0;
  box-sizing: 0; 
  font-family: 'Nunito', sans-serif;
}
  body {
    background-color: #FFDF8C;
    padding-top: 50px;
    background-size: contain
  }
.wrapper{
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  background-color: white;
  border-radius: 20px;
  margin: auto;
   .buttons_and_sort{
    margin: 0 auto;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    height: 48px;
    display: flex;
        img{
          cursor: pointer;
          width: 46px;
          height: 46px;
        }  
  }

    
}  
